body {
	background-color: $content-main-container;
}

h1,h2,h3,h4,h5,h6 {
	color: #4a5763;
}

h1,p {
	font-weight:bolder;
}

p{
	color:#737373;
}

.nav-main {
	div.title-bar {
	background-image: linear-gradient(0deg, rgba(#000, 0.75), rgba(#323232, 0.75));

		div.title-bar-left {
		}
	}
}